.git
.gitignore
.venv
venv
__pycache__
*.py[cod]
*.log
*.csv
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png
home.jpeg
yolov8n.pt
README.md
LICENSE
runtime.txt
packages.txt
attendance-files
db_schema.txt
setup_ppe_tables.py
push_to_ecr.py
test_kvs_ppe.py
test_image_ppe.py
app.py
docker-compose.yml
