--extra-index-url https://download.pytorch.org/whl/cu121

boto3==1.35.90
numpy==1.26.4
opencv-python-headless==4.10.0.84
pymysql==1.1.1
requests>=2.31.0
torch==2.5.1+cu121
torchvision==0.20.1+cu121
ultralytics==8.3.49
rfdetr==1.8.0
supervision==0.29.0
pycocotools==2.0.11
tensorboard==2.20.0
urllib3>=2.0.0
